<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODER - ecommerce</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css'>
</head>


<style>
.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
}

.profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
}



.cardbody-color{
    background-color: #ebf2fa;
}

a{
    text-decoration: none;
}
</style>
 

</head>

<body translate="no" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">CODER</h2>
            <div class="text-center mb-5 text-dark">Ecommerce</div>
            <div class="card my-5">


                <div class="mb-3">
                   Error al registarse
                </div>
                
                <div class="text-center"><button type="button" onclick="window.location='/registro.html'" class="btn btn-color px-5 mb-5 w-100">Volver al Login</button></div>
                
            </div>

            </div>
        </div>
    </div>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.min.js'></script>
</body>

</html>



<script>
    function redireccion(){
        setTimeout(function(){
                window.location.href = "/registro.html"
            }, 5000);
    }
</script>
</html>